version: 2.1

jobs:
    run_test:
        docker:
            - image: circleci/python:3.8.2
        resource_class: small
        steps:
            - checkout
            - restore_cache:
                  key: packages-{{ checksum "requirements.txt" }}
            - run:
                  command: |
                      python3 -m venv venv
                      . venv/bin/activate
                      pip install -r requirements.txt
            - save_cache:
                  key: packages-{{ checksum "requirements.txt" }}
                  paths:
                      - "venv"
            - run:
                  name: Running unit tests
                  command: |
                      set -e
                      . venv/bin/activate
                      mv tests/testing.cfg helphours/config.cfg
                      mv tests/testing.db helphours/helphours.db
                      echo "FLASK_APP=helphours" > .flaskenv
                      cd tests/
                      chmod 777 run_tests.sh
                      ./run_tests.sh

    lint:
        docker:
            - image: circleci/python:3.8.2
        resource_class: small
        steps:
            - checkout
            - restore_cache:
                  key: packages-{{ checksum "requirements.txt" }}
            - run:
                  command: |
                      python3 -m venv venv
                      . venv/bin/activate
                      pip install -r requirements.txt
            - save_cache:
                  key: packages-{{ checksum "requirements.txt" }}
                  paths:
                      - "venv"
            - run:
                  name: Run the Linter
                  command: |
                      . venv/bin/activate
                      python3 -m flake8 helphours --max-line-length=120 --extend-ignore=E402
                      python3 -m flake8 tests --max-line-length=120 --extend-ignore=E402

workflows:
    lint:
        jobs:
            - lint

    unit_tests:
        jobs:
            - run_test
