/* Not permanent, replace by downloading font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

:root {
    --primary-color: #0080ff; 
    --ligh-primary-color: #a1d0ff;
    /* Light blue -> Light Green */
    --navbar-gradient: linear-gradient(80deg, #7ee8fd 0%, #80ff72 110%);

    /* Dark blue -> light blue */
    /* --navbar-gradient: linear-gradient(80deg, #63a4ff 0%, #83eaf1 74%); */
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body h1,
body h2 {
    font-weight: 600;
    margin-top: 0;
}

body h3 {
    font-weight: 400;
}

.navbar {
    /* background-color: var(--navbar-color); */
    /* background-image: linear-gradient(315deg, #fba8a4 0%, #dad2f3 74%); */
    background-image: var(--navbar-gradient);
    box-shadow: -2px 0 2px 2px rgba(0, 0, 0, 0.1);
    max-height: 10vh;
    display: flex;
    padding: 0 10px;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.left-links {
    margin: 0;
    margin-right: auto;
    /* padding: 0 5px; */
}

.right-links {
    margin: 0;
    margin-left: auto;
}

.navbar ul li {
    padding: 0px 10px;
}

.left-links:nth-child(1) {
    padding-left: 0;
}

.right-links:nth-child(1) {
    padding-right: 0;
}

.navbar a {
    text-decoration: none;
    font-size: 110%;
    color: #000;
    transition: all 0.2s ease;

}

.navbar a:hover, .navbar a:focus {
    /* color: var(--primary-color); */
    font-size: 120%;
}

/* .navbar a:after {
    display: block;
    content: '';
    transform: scaleX(0);
    border-bottom: 2px solid var(--primary-color);
    transition: transform 0.1s ease-out;
}

/* .navbar a:hover:after {
    transform: scaleX(1);
} */

/* .navbar .active a:after {
    transform: scaleX(1);
} */

.link:active {
    color: #000;
}

.link:hover {
    color: #222;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.narrow-content {
    font-size: 110%;
}

.duck-left {
    transform: scaleX(-1);
}

.vertical-center {
    display: flex;
    align-items: center;
}

.vertical-center h1 {
    margin: 0 20px;
}

.content {
    height: 100%;
    max-height: 90vh;
    padding: 10px 10px;

    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.center-content {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.center-horizontal {
    display: flex;
    align-content: center;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 210%;
}

.dropdown-content a {
    display: block;
    background-image: var(--navbar-gradient);
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
    right: 0;
}

.form-container {
    background-color: #eee;
    min-width: 30%;
    /* width: 20%; */
    box-shadow: 5px 5px 10px #ccc;
    align-self: center;
    padding: 20px;
    border-radius: 5px;

    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column; 
}

.form-title {
    display: block;
    width: 100%;
    /* padding-bottom: 10px; */
}

.form-label {
    display: block;
    /* text-transform: uppercase; */
    color: #222;
    /* font-size: 85%; */
    width: 100%;
}

.form-submit {
    padding: 15px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.form-submit:disabled, .form-submit[disabled] {
    background-color: var(--ligh-primary-color);
    cursor: not-allowed;
}

.form-input {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    margin: 5px 0px;
    width: 100%;
}

.form {
    /* margin-top: 20px; */
    margin-bottom: 0;
    min-width: 50%;
}

.form > div {
    width: 100%;
    padding: 10px 0;
}

textarea {
 margin: 10px 0px;   
 width: 100%;
}

.error-message {
    color: red;
}

.helped-button, .queue-open-button {
    padding: 15px;
    background-color: #4c8;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.remove-button, .queue-close-button {
    padding: 15px;
    background-color: #ed2939;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.remove-button:disabled, .remove-button[disabled],
.queue-close-button:disabled, .queue-close-button[disabled] {
    background-color: #e9959c;
    cursor: not-allowed;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reset-link {
    align-self: center;
}

.form-group {
    margin: 20px 0;
}

.select-menu {
    /* margin: 10px; */
    margin: 10px 0;
    width: 100%;
}

.url-input {
    margin: 10px 0;
    width: 100%;
}


.queue-container {
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.queue-entry {
    width: 100%;
    display: flex;
    padding: 20px 20px;
    box-shadow: 5px 5px 10px #ccc;
    border-radius: 5px;
    background-color: #eee;
    margin-bottom: 20px;
}

.queue-entry-left {
    float: left;
    align-self: center;
}

.queue-entry-right {
    margin-left: auto;
    align-self: center;
}

.queue-entry-buttons {
    margin-bottom: 0;
}

.queue-entry-position {
    display: inline-block;
    font-weight: bold;
    font-size: 130%;
    color: #777;
}

.queue-entry-name {
    display: inline-block;
    font-weight: bold;
    font-size: 120%;
    margin-left: 20px;
}

.queue-controls {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.table-container {
    border: 1px solid #222;
    border-radius: 5px;
}

.table-head-row {
    border-bottom: 1px solid #222;
}

.table-head-row th {
    font-weight: 400;
}

.stats-nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.stats-nav {
    list-style-type: none;
    display: flex;
    /* width: 20%; */
    margin-left: auto;
    margin-right: auto;
}

.stats-nav li {
    padding: 10px 20px;
    background-color: #eee;
    border-radius: 5px;
    /* border: 1px solid black; */
    margin: 0px 2px;
}

.stats-nav li a {
    text-decoration: none;
    color: black;
}

.stats-nav li:hover {
    background-color: #ccc;
}

.num-stats {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.num-stat {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.num-stat .number {
    font-size: 300%;
    font-weight: 700;
    margin-bottom: 5px;
}

.graphs-container {
    display: flex;
    justify-content: space-around;
}

/* Tables */

.table-container {
    margin: 10px 0;
}

.table-container th {
    font-weight: 600;
    font-size: 110%;
    padding: 15px;
}

.table-container td {
    padding: 10px 20px;
}

.status-text {
    text-transform: uppercase;
    font-size: 80%;
}

.green-text {
    color: #39c639;
}

.red-text {
    color: #cc0000;
}

.green {
    background-color: #39c639;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
