/* Not permanent, replace by downloading font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body h1,
body h2 {
    font-weight: 600;
    margin-top: 0;
}

body h3 {
    font-weight: 400;
}

.navbar {
    background-color: #eee;
    max-height: 10vh;
    display: flex;
    padding: 0 10px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.left-links {
    margin-right: auto;
    /* padding: 0 5px; */
}

.right-links {
    margin-left: auto;
}

.navbar ul li {
    padding: 5px 10px;
}

.left-links:nth-child(1) {
    padding-left: 0;
}

.right-links:nth-child(1) {
    padding-right: 0;
}

.link {
    text-decoration: none;
    font-size: 110%;
    color: #000;
}

.link:active {
    color: #000;
}

.link:hover {
    color: #222;
}

.content {
    height: 100%;
    max-height: 90vh;
    padding: 10px 10px;
}

.center-content {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.form-container {
    background-color: #eee;
    width: 20%;
    box-shadow: 5px 5px 10px #ccc;
    align-self: center;
    padding: 20px;
    border-radius: 5px;

    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column; 
}

.form-title {
    display: block;
    width: 100%;
    /* padding-bottom: 10px; */
}

.form-label {
    display: block;
    text-transform: uppercase;
    color: #222;
    font-size: 80%;
    width: 100%;
}

.form-input {
    width: 100%;
}

.form {
    /* margin-top: 20px; */
    margin-bottom: 0;
}

.form > div {
    width: 100%;
    padding: 10px 0;
}

.error-message {
    color: red;
}

.queue-container {
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.queue-entry {
    width: 100%;
    display: flex;
    padding: 20px 20px;
    box-shadow: 5px 5px 10px #ccc;
    border-radius: 5px;
    background-color: #eee;
    margin-bottom: 20px;
}

.queue-entry-left {
    float: left;
    align-self: center;
}

.queue-entry-right {
    margin-left: auto;
    align-self: center;
}

.queue-entry-buttons {
    margin-bottom: 0;
}

.queue-entry-position {
    display: inline-block;
    font-weight: bold;
    font-size: 120%;
    color: #777;
}

.queue-entry-name {
    display: inline-block;
    margin-left: 20px;
}

.queue-controls {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.table-container {
    border: 1px solid #222;
    border-radius: 5px;
}

.table-head-row {
    border-bottom: 1px solid #222;
}

.table-head-row th {
    font-weight: 400;
}

.stats-container {

}

.stats-nav-container {
    width: 100%;
    justify-content: center;
}

.stats-nav {
    list-style-type: none;
    display: flex;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.stats-nav li {
    padding: 10px 20px;
    background-color: #eee;
    border-radius: 5px;
}

.stats-nav li:hover {
    background-color: #ccc;
}

.num-stats {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.num-stat {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.num-stat .number {
    font-size: 300%;
    font-weight: 700;
    margin-bottom: 5px;
}

.graphs-container {
    display: flex;
    justify-content: space-around;
}