@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

:root {
    --primary-color: #0080ff; 
    --light-primary-color: #a1d0ff;

    /* Light blue -> Light Green */
    --navbar-gradient: linear-gradient(80deg, #7ee8fd 0%, #80ff72 110%);
    --navbar-background: #80ff72;

    /* Dark blue -> light blue */
    /* --navbar-gradient: linear-gradient(80deg, #63a4ff 0%, #83eaf1 74%); */
    /* --navbar-background: #63a4ff; */
}

.dark {
    --primary-color: #0054a8;
    --light-primary-color: #4d749b;
    --navbar-gradient: linear-gradient(80deg, #222 0%, #222 80%);
    color: #fff;
    background-color: #333;
}

.dark a {
    color: inherit;
}


.dark .reset-link {
    color: cyan;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body h1,
body h2 {
    font-weight: 600;
    margin-top: 0;
}

body h3 {
    font-weight: 400;
}

.navbar {
    background-image: var(--navbar-gradient);
    -webkit-box-shadow: -2px 0 2px 2px rgba(0, 0, 0, 0.1);
            box-shadow: -2px 0 2px 2px rgba(0, 0, 0, 0.1);
    max-height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 10px;
    margin-bottom: 10px;
}

.dark .navbar {
    box-shadow: -2px 0 16px 2px var(--navbar-background);
}

.navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
}

.left-links {
    margin: 0;
    margin-right: auto;
}

.right-links {
    margin: 0;
    margin-left: auto;
}

.navbar ul li {
    padding: 0px 10px;
}

.left-links:nth-child(1) {
    padding-left: 0;
}

.right-links:nth-child(1) {
    padding-right: 0;
}

.navbar a {
    text-decoration: none;
    font-size: 110%;
    /* color: #000; */
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: font-size 0.2s ease;
}

.navbar a:hover:not(.no-grow), .navbar a:focus:not(.no-grow) {
    font-size: 120%;
}

.link:visited, .link:active, .link:hover {
    color: #000;
}

.dark .link:visited, .dark .link:active, .dark .link:hover {
    color: #fff;
}

.welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.narrow-content {
    font-size: 110%;
}

.duck-left {
    -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
        transform: scaleX(-1);
}

.vertical-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.vertical-center h1 {
    margin: 0 20px;
}

.content {
    height: 100%;
    max-height: 90vh;
    padding: 10px 10px;

    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.center-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
}

.center-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 210%;
    /* margin-top: 10px; */
    margin-right: -5px;
}

.dropdown-content a {
    display: block;
    background-image: var(--navbar-gradient);
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
    right: 0;
}

.form-container {
    background-color: #eee;
    min-width: 30%;
    -webkit-box-shadow: 5px 5px 10px #ccc;
            box-shadow: 5px 5px 10px #ccc;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 20px;
    border-radius: 5px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
}

.dark .form-container{
    background-color: inherit;
    box-shadow: none;
    border: 1px solid white
}

.form-title {
    display: block;
    width: 100%;
}

.form-label {
    display: block;
    color: #222;
    width: 100%;
}

.dark .form-label {
    color: #eee;
}

.form-submit {
    padding: 15px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.form-submit:disabled, .form-submit[disabled] {
    background-color: var(--light-primary-color);
    cursor: not-allowed;
}

.form-input {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    margin: 5px 0px;
    width: 100%;
}

.dark .form-input {
    background-color: #444;
    border-color: rgba(255, 255, 255, 0.2);
    color: inherit;
}

.form {
    margin-bottom: 0;
    min-width: 50%;
}

.form > div {
    width: 100%;
    padding: 10px 0;
}

textarea {
 margin: 10px 0px;   
 width: 100%;
}

.error-message {
    color: red;
}

.helped-button, .queue-open-button {
    padding: 15px;
    background-color: #4c8;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.remove-button, .queue-close-button {
    padding: 15px;
    background-color: #ed2939;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.remove-button:disabled, .remove-button[disabled],
.queue-close-button:disabled, .queue-close-button[disabled] {
    background-color: #e9959c;
    cursor: not-allowed;
}

.form-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.reset-link {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.form-group {
    margin: 20px 0;
}

.select-menu {
    margin: 10px 0;
    width: 100%;
}

.url-input {
    margin: 10px 0;
    width: 100%;
}


.queue-container {
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.queue-entry {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 20px;
    -webkit-box-shadow: 5px 5px 10px #ccc;
            box-shadow: 5px 5px 10px #ccc;
    border-radius: 5px;
    background-color: #eee;
    margin-bottom: 20px;
}

.dark .queue-entry {
    box-shadow: none;
    border: 1px solid white;
    background-color: inherit;
}

.queue-entry-left {
    float: left;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.queue-entry-right {
    margin-left: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.queue-entry-buttons {
    margin-bottom: 0;
}

.queue-entry-position {
    display: inline-block;
    font-weight: bold;
    font-size: 130%;
    color: #777;
}

.dark .queue-entry-position {
    color: #999;
}

.queue-entry-name {
    display: inline-block;
    font-weight: bold;
    font-size: 120%;
    margin-left: 20px;
}

.queue-controls {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0px;
}

.table-container {
    border: 1px solid #222;
    border-radius: 5px;
}

.dark .table-container {
    border-color: #fff;
}

.table-head-row {
    border-bottom: 1px solid #222;
}

.dark .table-head-row {
    border-bottom-color: #fff;
}

.table-head-row th {
    font-weight: 400;
}

.stats-nav-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.stats-nav {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.stats-nav li {
    padding: 10px 20px;
    background-color: #eee;
    border-radius: 5px;
    margin: 0px 2px;
}

.dark .stats-nav li {
    background-color: inherit;
    border: 1px solid white;
}

.stats-nav li a {
    text-decoration: none;
    color: inherit;
}

.stats-nav li:hover {
    background-color: #ccc;
}

.dark .stats-nav li:hover {
    background-color: #444;
}

.num-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
}

.num-stat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

.num-stat .number {
    font-size: 300%;
    font-weight: 700;
    margin-bottom: 5px;
}

.graphs-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.dark .graph  text{
    fill: #fff !important;
}

.dark .graph rect {
    fill: #444 !important;
}

.dark .graph path, .dark .graph line {
    stroke: #fff !important;
}

/* Tables */

.table-container {
    margin: 10px 0;
}

.table-container th {
    font-weight: 600;
    font-size: 110%;
    padding: 15px;
}

.table-container td {
    padding: 10px 20px;
}

.status-text {
    text-transform: uppercase;
    font-size: 80%;
}

.green-text {
    color: #39c639;
}

.red-text {
    color: #cc0000;
}

.green {
    background-color: #39c639;
}

.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}