#
#   This is a template for a config file to be used in production.
#   None of the values here should be used in the production environment.
#   In development, copy this file to flaskapp/config.cfg

# Local Development Application Secret Key, not used in production
SECRET_KEY='314312311'
TEMPLATES_AUTO_RELOAD=True
DEBUG=True