<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css', v='1.2.1') }}">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}">
       
        <style>
            :root {
                --navbar-gradient: {{ NAV_GRADIENT }};
                --navbar-background: {{ NAV_COLOR }};
            }
        </style>

        {% block head %}
        {% endblock %}
    </head>

    

    <body id="body">
        
        <nav class="navbar">
            <ul aria-label="Navigation menu" class="left-links">
                <li>
                    <a role="button" aria-label="Home" href="{{ url_for('index') }}" class="no-grow">
                        <img src="{{ CURRENT_DUCK }}" style="height: 50px; margin: 5px auto;" alt-text="Rubber Duck">
                    </a>
                </li>
                <li {% if request.path == url_for('join') %} class="active" {% endif %}>
                    <a class="link" href="{{ url_for('join') }}">Join</a>
                </li>
                <li {% if request.path == url_for('view') %} class="active" {% endif %}>
                    <a class="link" href="{{ url_for('view') }}">View</a>
                </li>
                <li {% if request.path == url_for('remove') %} class="active" {% endif %}>
                    <a class="link" href="{{ url_for('remove') }}">Remove Self</a>
                </li>
                <li {% if request.path == url_for('zoom_links') %} class="active" {% endif %}>
                    <a class="link" href="{{ url_for('zoom_links') }}">Zoom Links</a>
                </li>
                <li {% if request.path == url_for('schedule_redirect') %} class="active" {% endif %}>
                    <a class="link" href="{{ url_for('schedule_redirect') }}" target="_blank">Schedule</a>
                </li>
            </ul>
            <ul class="right-links">
                <li {% if request.path == url_for('about_page') %} class="active" {% endif %}>
                    <a class="link" href="{{ url_for('about_page') }}">About</a>
                </li>
                {% if g.user.is_authenticated %}
                    <li>
                        <div class="dropdown">
                            <script>
                                function toggleDropdown() {
                                    document.getElementById("dd-content").classList.toggle("toggle-dropdown-content");
                                }
                            </script>
                            <a onclick="toggleDropdown()" class="link">Instructors</a>
                            <div id = "dd-content" class="dropdown-content">
                                <a class="link" href="{{ url_for('stats_page') }}">Stats</a>
                                {% if g.user.is_admin %}
                                    <a class="link" href="{{ url_for('admin_panel') }}">Admin</a>
                                {% endif %}
                                <a class="link" href="{{ url_for('change_zoom') }}">Change Zoom Links</a>
                                <a class="link" href="{{ url_for('logout') }}">Logout</a>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li {% if request.path == url_for('login') %} class="active" {% endif %}>
                        <a class="link" href="{{ url_for('login') }}">Instructor Login</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div id="content-div" class="content">
            {% block body %}
            {% endblock %}
        </div>
        <div class="dark-mode-button" onclick="toggleDarkMode()" >
            <a id="dark-mode-toggle" style="cursor:pointer" class="link" >
                <img id="dark-mode-moon" src="{{ url_for('static', filename='images/moon.png') }}" style="height: 45px">
                <img id="dark-mode-sun" src="{{ url_for('static', filename='images/sun.png') }}" style="height: 45px">
            </a>
        </div>
    </body>

    <script src="{{ url_for('static', filename='scripts/darkmode.js') }}"></script>
</html>
