{% extends "base.html" %}
{% block head%}
<title>Edit Instructor</title>
{% endblock %}

{% block body %}

<div class="center-content">
    <div class="form-container">
        <form class="form">
            {{ form.csrf_token }}
            <input name="id" type="hidden" id="id" value="{{ id }}"></input>
            <h2 class="form-title">{{ title }}</h2>
            {% if message|length > 0 %}
                <p class="error-message">{{ message }}</p>
            {% endif %}

                <div>
                    {{ form.first_name.label(class='form-label')}}
                    {{ form.first_name(class='form-input')}}
                </div>
                <div>
                    {{ form.last_name.label(class='form-label')}}
                    {{ form.last_name(class='form-input')}}
                </div>

                <div>
                    {{ form.email.label(class='form-label')}}
                    {{ form.email(class='form-input')}}
                </div>

                <div class="buttons">
                    {{ form.is_active.label(class='')}}
                    {% if is_active%}
                    {{ form.is_active(default='checked')}}
                    {% else %}
                    {{ form.is_active()}}
                    {% endif %}

                    {{ form.is_admin.label(class='')}}
                    {% if is_admin %}
                    {{ form.is_admin(default='checked')}}
                    {% else %}
                    {{ form.is_admin()}}
                    {% endif %}
                </div>

                <div>
                    {{ form.submit(class='')}}
                    <a href="{{ url_for('admin_panel') }}">Cancel</a>
                </div>
        </form>
    </div>
</div>

{% endblock %}