{% extends "base.html" %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<div class="center-content">
    <div class="form-container">
        <h2 class="form-title">Instructor Login</h2>

        <form class="form" method="POST">
            {{form.csrf_token}}
            <div>
                {{ form.email.label(class="form-label")}}
                {{ form.email(class="form-input") }}
            </div>
            <div>
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-input") }}
            </div>

            {% if message|length > 0 %}
                <p class="error-message">{{ message }}</p>
            {% endif %}

            <div>
                {{ form.submit(class="form-submit") }}
                <a href="{{url_for('request_reset')}}">Reset Password</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}