{% extends "block.html" %}

{% block head %}
<title>New Password</title>
{% end block %}

{% block body %}
<div class="center-content">
    <div class="form-container">
        <form class="form" method="POST">

            {{form.csrf_token}}

            <h2>Set New Password</h2>

            <div>
                {{form.password.label(class="form-label")}}
                {{form.password(class="form-input")}}
            </div>

            <div>
                {{form.confirm.label(class="form-label")}}
                {{form.confirm(class="form-input")}}
            </div>

            {% if message|length > 0 %}
                <p class="error-message">{{ message }}</p>
            {% endif %}

            <div>
                {{form.submit(class="form-submit")}}
            </div>

        </form>
    </div>
</div>
{% end block %}