{% extends "base.html" %}

{% block head %}
<title>Remove Self from Queue</title>
{% endblock %}

{% block body %}
<div class="center-content">
    <div class="form-container">
        <h2 class="form-title">Remove Self</h2>
        <form class="form" method="POST">
            <div>
                {{ form.eid.label(class="form-label") }}
                {{ form.eid(class="form-input") }}
            </div>
            {% if message|length > 0 %}
                <p class="error-message">{{ message }}</p>
            {% endif %}
            <div>
                {{ form.submit(class="form-submit") }}    
            </div>
        </form>
    </div>

</div>
{% endblock %}