{% extends "base.html" %}

{% block head %}
<title>Reset Password</title>
{% endblock %}

{% block body %}
<div class="center-content">
    <div class="form-container">
        <form class="form">
            {{ form.csrf_token }}
            <h2 class="form-title">Reset Password</h2>
            {% if message|length > 0 %}
                <p class="error-message">{{ message }}</p>
            {% endif %}
            <div>
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-input") }}
            </div>
            <div>
                {{ form.confirm.label(class="form-label") }}
                {{ form.confirm(class="form-input") }}
            </div>
            <div>
                {{ form.submit(class='form-submit')}}
            </div>
        </form>
    </div>
</div>
{% endblock %}
