{% extends "base.html" %}

{% block head %}

<title>View Queue</title>

{% endblock %}

{% block body %}

<h1>Help Hours Queue</h1>


<div class="queue-container">
    <div class="queue-controls">
        {% if g.user.is_authenticated %}
        <form method="POST">
            <div style="display: flex;">
                {% if queue_is_open %}
                <button name="close-virtual" class="queue-close-button">Close Virtual Queue</button> {% else %}
                <button name="open-virtual" class="queue-open-button">Open Virtual Queue</button> {% endif %} {% if in_person_queue_is_open == True %}
                <button name="close-in-person" class="queue-close-button">Close In Person Queue</button> {% elif in_person_queue_is_open == False %}
                <button name="open-in-person" class="queue-open-button">Open In Person Queue</button> {% endif %}
            </div>
        </form>
        {% endif %} {% if in_person_queue_is_open != None %}
        <div>
            <input type="checkbox" checked id="virtual-queue" name="virtual-queue" value="virtual" onclick="setCheckbox('remote');">
            <label for="virtual-queue"> Virtual Help Hours Queue</label><br></div>
        <div>
            <input type="checkbox" checked id="in-person-queue" name="in-person-queue" value="in-person" onclick="setCheckbox('in_person');">
            <label for="in-person-queue"> In Person Help Hours Queue</label><br>
        </div>
        {% endif %}
    </div>

    <div id="queue">
    </div> 

    <script src="{{ url_for('static', filename='scripts/queue.js') }}"></script>
</div>


<template id="queue-entry-template">
    <div class="queue-entry">
        <div class="queue-entry-position"></div>
        <div class="queue-entry-wrapper">
            <div class="queue-entry-box">
                <div class="queue-entry-expand-toggle">
                    <svg class="queue-chevron" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1200 1200"><path d="M600.006 989.352l178.709-178.709L1200 389.357l-178.732-178.709L600.006 631.91L178.721 210.648L0 389.369l421.262 421.262l178.721 178.721h.023z" fill="#626262"/><rect x="0" y="0" width="1200" height="1200" fill="rgba(0, 0, 0, 0)" /></svg>
                    <div class="queue-entry-name"></div>
                    <div class="queue-entry-modality"></div>
                </div>
                <div class="queue-entry-right">
                    <form method="POST" class="queue-entry-buttons">
                        <button class="helped-button" name="finished">Start Helping</button>
                        <button class="remove-button" name="removed">Remove</button>
                    </form>
                </div>
            </div>
            <div class="queue-entry-expanded">
                <div>
                    <strong>Description: </strong> <span class="queue-entry-expanded-desc"></span>
                </div>
                <div>
                    <strong>In queue since: </strong><span class="queue-entry-expanded-time"></span>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="queue-message">
    <div style="text-align: center;" class="form-container">
        <h3 class="queue-message"></h3>
    </div>
</template>

{% endblock %}
