{% extends "base.html" %}

{% block head %}

<title>View Queue</title>

<script src="{{ url_for('static', filename='scripts/queue.js') }}"></script>

{% endblock %}

{% block body %}

<h1>Help Hours Queue</h1>


<div class="queue-container">
        <div class="queue-controls">
            <form method="POST">
                {% if g.user.is_authenticated %}
                    {% if queue_is_open %}
                        <button name="close" class="queue-close-button">Close Queue</button>
                    {% else %}
                        <button name="open" class="queue-open-button">Open Queue</button>
                    {% endif %}
                {% endif %}
            </form>
        </div>

   <div id="queue">
   </div> 

</div>

{% endblock %}
