{% extends "base.html" %}

{% block head %}

{% if g.user.is_authenticated %}
    <meta http-equiv="refresh" content="30">
{% else %}
    <meta http-equiv="refresh" content="300">
{% endblock %}

{% block body %}

<h1>Help Hours Queue</h1>


<div class="queue-container">
        <div class="queue-controls">
            <form method="POST">
                {% if queue_is_open %}
                    <button name="close" class="queue-close-button">Close Queue</button>
                {% else %}
                    <button name="open" class="queue-open-button">Open Queue</button>
                {% endif %}
            </form>
        </div>
    {% if g.user.is_authenticated %}
    {% endif %}

    {% for i in range(queue | length) %}
        <div class="queue-entry">
            <div class="queue-entry-left">
                <div class="queue-entry-position">{{ i }}</div>
                <div class="queue-entry-name">{{ queue[i].name }}</div>
            </div>
        {% if g.user.is_authenticated %}
            <div class="queue-entry-right">
                <form method="POST" class="queue-entry-buttons">
                    <button name="finished" value={{queue[i].id}}>Helped</button>
                    <button name="removed" value={{queue[i].id}}>Remove</button>
                </form>
            </div>
        {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}