{% extends "base.html" %}

{% block head %}

<title>Zoom Links</title>

{% endblock %}

{% block body %}

<h1>Zoom Meeting Links</h1>

    <div class="center-horizontal change-zoom-button">
        {% if g.user.is_authenticated %}
            <a class="form-submit" href="{{ url_for('change_zoom') }}">Change Zoom Links</a>
        {% else %}
            <span>You must be signed in to your UT Zoom account to join these meetings.</span>
        {% endif %}
    </div>

    <div class="row" style="display: flex; flex-direction: row;">
        <div class="column" style="float:left; width:18%; margin: 1%;">
            <h2 style="text-align: center;">Monday</h2>
            {% for link in m_links %}
            <a class="meeting-link" href="{{ link.url }}" target="_blank">
                <div class="link-entry">
                    <div class="link-desc">{{ link.description }}</div>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="column" style="float:left; width:18%; margin: 1%;">
            <h2 style="text-align: center;">Tuesday</h2>
            {% for link in t_links %}
            <a class="meeting-link" href="{{ link.url }}" target="_blank">
                <div class="link-entry">
                    <div class="link-desc">{{ link.description }}</div>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="column" style="float:left; width:18%; margin: 1%;">
            <h2 style="text-align: center;">Wednesday</h2>
            {% for link in w_links %}
            <a class="meeting-link" href="{{ link.url }}" target="_blank">
                <div class="link-entry">
                    <div class="link-desc">{{ link.description }}</div>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="column" style="float:left; width:18%; margin: 1%;">
            <h2 style="text-align: center;">Thursday</h2>
            {% for link in th_links %}
            <a class="meeting-link" href="{{ link.url }}" target="_blank">
                <div class="link-entry">
                    <div class="link-desc">{{ link.description }}</div>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="column" style="float:left; width:18%; margin: 1%;">
            <h2 style="text-align: center;">Friday</h2>
            {% for link in f_links %}
            <a class="meeting-link" href="{{ link.url }}" target="_blank">
                <div class="link-entry">
                    <div class="link-desc">{{ link.description }}</div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <br>

<div class="link-container" style="margin-top: 0px;">
    <h2 style="text-align: center;">Other Hours</h2>
    {% for link in other_links %}
        <a class="meeting-link" href="{{ link.url }}" target="_blank">
            <div class="link-entry">
                <div class="link-desc">{{ link.description }}</div>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}
