{% extends "base.html" %}

{% block head %}

<title>Zoom Links</title>

{% endblock %}

{% block body %}

<h1>Zoom Meeting Links</h1>


<div class="link-container">
    {% if g.user.is_authenticated %}
        <div class="center-horizontal change-zoom-button">
            <a class="form-submit" href="{{ url_for('change_zoom') }}">Change Zoom Links</a>
        </div>
    {% endif %}
    
    {% for link in links %}
        <a class="meeting-link" href="{{ link.url }}">
            <div class="link-entry">
                <div class="link-desc">{{ link.description }}</div>
            </div>
        </a>
    {% endfor %}

    
</div> 

</div>

{% endblock %}
